<div class="e-offer-selection-container">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-end p-0">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'Offer Selection'">
    <div class="e-offer-selection-content">
      <div class="row">
        <div class="col-12 col-xl-8 e-offer-selection-center">
          <app-tab-menu class="e-tab">
            <div one>
              <div class="offer-title mb-3">Catalog Selection</div>
              <form [formGroup]="searchCatalogForm">
                <div class="e-dropdown">
                  <select
                    etiyaInput="dark"
                    formControlName="selectedId"
                    #selectedId
                  >
                    <option selected value="">Select</option>
                    <option
                      *ngFor="let catalog of catalogList"
                      value="{{ catalog.id }}"
                    >
                      {{ catalog.name }}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="row p-2 e-offer-selection-center">
                      <div class="col-12 col-lg-5 p-0">
                        <label class="e-offer-label" for="prodOfferId"
                          >Prod Offer ID
                        </label>
                      </div>
                      <div class="col-12 col-lg-7 p-0">
                        <input
                          type="text"
                          class="offer-input"
                          etiyaInput="dark"
                          formControlName="prodOfferId"
                          (keypress)="isNumber($event)"
                          #prodOfferId
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="row p-2 e-offer-selection-center">
                      <div class="col-12 col-lg-5 p-0">
                        <label class="e-offer-label" for="prodOfferName"
                          >Prod Offer Name
                        </label>
                      </div>
                      <div class="col-12 col-lg-7 p-0">
                        <input
                          type="text"
                          class="offer-input"
                          etiyaInput="dark"
                          maxlength="50"
                          formControlName="prodOfferName"
                          #prodOfferName
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12 d-flex justify-content-end">
                <button
                  class="e-offer-button"
                  etiyaButton="clear"
                  (click)="searchCatalog()"
                >
                  Search
                </button>
              </div>
              <div class="e-offer-table">
                <app-table-scroll class="e-table">
                  <thead>
                    <tr class="table-title row">
                      <th class="col-3">Prod Offer ID</th>
                      <th class="col-9">Prod Offer Name</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr
                      class="row"
                      *ngFor="let catalogOffer of catalogOffersList"
                      (click)="addBasket(catalogOffer)"
                      [ngClass]="{ selected: isSelected(catalogOffer) }"
                    >
                      <td class="col-3">{{ catalogOffer.id }}</td>
                      <td class="col-9">
                        <span *ngIf="isSelected(catalogOffer)"
                          >{{ getOfferCount(catalogOffer) }}x</span
                        >
                        {{ catalogOffer.name }}
                      </td>
                    </tr>
                  </tbody>
                </app-table-scroll>
                <small
                  *ngIf="catalogOffersList?.length == 0"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="margin-left: 200px; margin-top: -15px"
                >
                  No products found in this catalog
                </small>
              </div>
            </div>

            <div two>
              <div class="offer-title mb-3">Campaign Selection</div>
              <form [formGroup]="searchCampaignForm">
                <div class="e-dropdown">
                  <select
                    etiyaInput="dark"
                    formControlName="selectedId1"
                    #selectedId1
                  >
                    <option selected disabled hidden value="">Select</option>
                    <option
                      *ngFor="let campaign of campaignList"
                      value="{{ campaign.id }}"
                    >
                      {{ campaign.name }}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="row p-2 e-offer-selection-center">
                      <div class="col-12 col-lg-5 p-0">
                        <label class="e-offer-label" for="prodOfferId"
                          >Campaign ID
                        </label>
                      </div>
                      <div class="col-12 col-lg-7 p-0">
                        <input
                          type="text"
                          class="offer-input"
                          etiyaInput="dark"
                          (keypress)="isNumber($event)"
                          formControlName="campaignId"
                          #campaignId
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="row p-2 e-offer-selection-center">
                      <div class="col-12 col-lg-5 p-0">
                        <label class="e-offer-label" for="campaignName"
                          >Campaign Name
                        </label>
                      </div>
                      <div class="col-12 col-lg-7 p-0">
                        <input
                          type="text"
                          class="offer-input"
                          etiyaInput="dark"
                          maxlength="50"
                          formControlName="campaignName"
                          #campaignName
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12 d-flex justify-content-end">
                <button
                  class="e-offer-button"
                  etiyaButton="clear"
                  (click)="searchCampaign()"
                >
                  Search
                </button>
              </div>
              <div class="e-offer-table">
                <app-table-scroll class="e-table">
                  <thead>
                    <tr class="table-title row">
                      <th class="col-2">Campaign ID</th>
                      <th class="col-3">Prod Offer ID</th>
                      <th class="col-7">Prod Offer Name</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr
                      class="row"
                      *ngFor="
                        let campaignOffer of campaignOffersList
                      "
                      (click)="addBasket(campaignOffer)"
                      [ngClass]="{ selected: isSelected(campaignOffer) }"
                    >
                      <td class="col-2">{{ campaignOffer.type.id }}</td>
                      <td class="col-3">{{ campaignOffer.id }}</td>
                      <td class="col-7">
                        <span *ngIf="isSelected(campaignOffer)"
                          >{{ getOfferCount(campaignOffer) }}x</span
                        >
                        {{ campaignOffer.name }}
                      </td>
                    </tr>
                  </tbody>
                </app-table-scroll>
                <small
                  *ngIf="campaignOffersList?.length == 0"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="margin-left: 200px; margin-top: -15px"
                >
                  No products found in this campaign
                </small>
              </div>
            </div>
          </app-tab-menu>
        </div>
        <div class="col-12 col-xl-4 e-offer-selection-center">
          <app-basket></app-basket>
        </div>
      </div>
      <div class="row e-buttons">
        <div class="col-3 d-flex justify-content-start pl-3">
          <button
            etiyaButton="clear"
            [routerLink]="
              '/dashboard/customers/customer-billing-account-detail/' +
              selectedCustomerId
            "
          >
            PREVIOUS
          </button>
        </div>
        <div class="col-9 d-flex justify-content-end pe-3">
          <button
            etiyaButton="clear"
            [disabled]="!itemsInBasket"
            [routerLink]="
              '/dashboard/customers/' +
              selectedCustomerId +
              '/configuration-product/' +
              billingAccountId
            "
          >
            NEXT
          </button>
        </div>
      </div>
    </div>
  </app-main-layout>
</div>
