<p-toast
  position="center"
  key="product-detail"
  (onClose)="onConfirm()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-3"></div>
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Okay"
            class="p-button-success"
          ></button>
          <div class="col-3"></div>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
