
<div class="e-address-info-container">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-end p-0">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'CREATE CUSTOMER'">
    <div class="e-address-info-content">
      <div class="d-flex justify-content-center customer-title mb-5">
        <app-info-title [infoTitle]="'Address Info'"></app-info-title>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row w-100" style="width: 95% !important">
          <app-table-info class="e-table">
            <thead>
              <tr class="table-title">
                <th class="col-2">City</th>
                <th class="col-2">Street Name</th>
                <th class="col-2">Hause/Flat Number</th>
                <th class="col-2">Address Description</th>
                <th class="col-2">Action</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr
                *ngIf="
                  !customer.addresses || customer.addresses.length == 0;
                  else customerAddressList
                "
              >
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <ng-template #customerAddressList>
                <tr *ngFor="let address of customer.addresses">
                  <th>
                    <div class="row">
                      <div class="col-2 d-flex justify-content-end">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadioDefault"
                          id="flexRadioDefault1"
                          (change)="handleConfigInput($event)"
                          value="{{ address.id }}"
                          [checked]="
                            address.isMain == true &&
                            this.customer.addresses &&
                            this.customer.addresses.length <= 1
                          "
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                        </label>
                      </div>
                      <div class="col-10 e-city-name">
                        {{ address.city.name }}
                      </div>
                    </div>
                  </th>

                  <td style="word-break: break-all;">{{ address.street }}</td>
                  <td style="word-break: break-all;">{{ address.flatNumber }}</td>
                  <td style="word-break: break-all;">{{ address.description }}</td>
                  <td class="d-flex justify-content-center">
                    <button
                      (click)="selectAddressId(address.id)"
                      etiyaButton="edit"
                    ></button>
                    <button
                      (click)="removePopup(address)"
                      etiyaButton="remove"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </app-table-info>
        </div>
      </div>
      <div class="e-new-address">
        <button
          etiyaButton="new-address"
          routerLink="/dashboard/customers/add-address-info"
        >
          <img src="./assets/img/add_new.png" alt="" />Add New Address
        </button>
      </div>
      <div class="e-buttons">
        <button
          etiyaButton="clear"
          routerLink="/dashboard/customers/create-customer"
        >
          CANCEL
        </button>
        <button
          etiyaButton="clear"
          routerLink="/dashboard/customers/contact-medium"
          [disabled]="!customer.addresses || customer.addresses.length == 0"
        >
          NEXT
        </button>
      </div>
    </div>
  </app-main-layout>
</div>
<p-dialog
  [(visible)]="displayBasic"
  [style]="{ width: '30vw', height: '20vw' }"
>
  <h5 class="header">Warning</h5>
  <p>
    The address that you want to delete is a default address. Please, change default address then try again.
  </p>
  <p></p>
  <ng-template pTemplate="footer">
    <p-button
      (click)="displayBasic = false"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
