<div class="e-search-container">
  <div class="e-title-container">
    <h3 class="e-search-title m-4">{{ filterTitle }}</h3>
    <span class="verticalLine"></span> <span class="horizontalLine"></span>
    <h5 class="e-search-title-mini mt-5 ml-5">Search Filter</h5>
    <span class="mini-verticalLine"></span>
    <span class="mini-horizontalLine"></span>
  </div>

  <div class="e-input-container">
    <form [formGroup]="searchForm">
      <label class="e-label mt-4">NATIONALITY ID</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="nationalityId"
        (keypress)="isNumber($event)"
        onKeyPress="if(this.value.length==11) return false;"
        #nationalityId
        
        onkeydown="return event.keyCode !== 17 &&  event.keyCode !== 86 "
        max="99999999999"
        min="99999999999"
      />

      <label class="e-label">CUSTOMER ID</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="customerId"
        (keypress)="isNumber($event)"
        onKeyPress="if(this.value.length==7) return false;"
        #customerId
        onkeydown="return event.keyCode !== 17 &&  event.keyCode !== 86 "
        max="99999999999"
        min="99999999999"
      />

      <label class="e-label">ACCOUNT NUMBER</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="accountNumber"
        maxlength="11"
        #accountNumber
        onkeydown="return event.keyCode !== 17 &&  event.keyCode !== 86 "
        max="99999999999"
        min="99999999999"
      />

      <label class="e-label">GSM NUMBER</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="gsmNumber"
        maxlength="10"
        (keypress)="isNumber($event)"
        #gsmNumber
      />

      <label class="e-label">FIRST NAME</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="firstName"
        minlength="2"
        maxlength="100"
        #firstName
      />

      <label class="e-label">LAST NAME</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="lastName"
        minlength="2"
        maxlength="100"
        #lastName
      />

      <label class="e-label">ORDER NUMBER</label>
      <input
        type="text"
        etiyaInput="dark"
        formControlName="orderNumber"
        (keypress)="isNumber($event)"
        #orderNumber
        onKeyPress="if(this.value.length==10) return false;"
        onkeydown="return event.keyCode !== 17 &&  event.keyCode !== 86 "
        max="99999999999"
        min="99999999999"
      />
    </form>
  </div>
  <div class="e-btn-container">
    <button
      type="button"
      etiyaButton="clear"
      [disabled]="
        nationalityId.value.length === 0 &&
        customerId.value.length === 0 &&
        accountNumber.value.length === 0 &&
        gsmNumber.value.length === 0 &&
        firstName.value.length === 0 &&
        lastName.value.length === 0 &&
        orderNumber.value.length === 0
      "
      (click)="clear()"
    >
      CLEAR
    </button>
    <button
      type="button"
      etiyaButton="search"
      (click)="search()"
      [disabled]="
        nationalityId.value.length === 0 &&
        customerId.value.length === 0 &&
        accountNumber.value.length === 0 &&
        gsmNumber.value.length === 0 &&
        firstName.value.length === 0 &&
        lastName.value.length === 0 &&
        orderNumber.value.length === 0
      "
    >
      SEARCH<img
        etiyaButton="img-search"
        src="../assets/img/search-btn-logo.png"
      />
    </button>
  </div>
</div>
