<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="col-12 app-user-info">
          <app-user-info></app-user-info>
        </div>
      </div>
      <div class="col-12 col-lg-9 d-flex justify-content-end p-0">
        <app-settings-menu></app-settings-menu>
      </div>
    </div>
    <div class="bar-menu">
      <app-bar-menu></app-bar-menu>
    </div>
  </div>

  <app-main-layout [layoutTitle]="'Customer Info'">
    <label class="ml-4 mt-2">Update Info </label>

    <div class="p-5"></div>
    <div class="e-customer-content">
      <div class="d-flex justify-content-center">
        <form
          *ngIf="updateCustomerForm"
          [formGroup]="updateCustomerForm"
          class="p-4"
        >
          <div class="row">
            <div class="row d-flex justify-space-between align-items-center">
              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="first-name">First Name:</label>
                  <input
                    class="col-7"
                    type="text"
                    etiyaInput="dark"
                    formControlName="firstName"
                    maxlength="50"
                    [ngClass]="{
                      'invalid-input':
                        isShow &&
                        updateCustomerForm.controls['firstName'].errors
                    }"
                  />
                </div>
              </div>
              <div class="col-6 form-group">
                <div class="form-group">
                  <label class="col-5" for="middleName">Middle Name:</label>
                  <input
                    class="col-7"
                    type="text "
                    etiyaInput="dark"
                    formControlName="middleName"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="lastName">Last Name:</label>
                  <input
                    class="col-7"
                    type="text "
                    etiyaInput="dark"
                    formControlName="lastName"
                    maxlength="50"
                    [ngClass]="{
                      'invalid-input':
                        isShow && updateCustomerForm.controls['lastName'].errors
                    }"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="birthDate">Birth Date:</label>
                  <input
                    class="col-7"
                    type="date"
                    etiyaInput="dark"
                    formControlName="birthDate"
                    [ngClass]="{
                      'invalid-input':
                        isShow &&
                        updateCustomerForm.controls['birthDate'].errors
                    }"
                  />
                </div>
              </div>
              <div class="col-6">
                <div
                  class="form-group d-flex justify-content-lg-start align-items-center"
                >
                  <label class="col-5" for="gender">Gender:</label>
                  <div class="e-dropdown col-7 p-0">
                    <select
                      name="gender"
                      id="gender"
                      class="p-2"
                      formControlName="gender"
                      [ngClass]="{
                        'invalid-input':
                          isShow && updateCustomerForm.controls['gender'].errors
                      }"
                    >
                      <option selected value="Female">Female</option>
                      <option value="Erkek">Erkek</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="fatherName"> Father Name:</label>
                  <input
                    class="col-7"
                    type="text"
                    etiyaInput="dark"
                    formControlName="fatherName"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="motherName">Mother Name:</label>
                  <input
                    class="col-7"
                    type="text"
                    etiyaInput="dark"
                    formControlName="motherName"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="col-5" for="nationalId">Nationality ID:</label>
                  <input
                    class="col-7"
                    type="number"
                    etiyaInput="dark"
                    formControlName="nationalityId"
                    onKeyPress="if(this.value.length==11) return false;"
                    (keypress)="isNumber($event)"
                    [ngClass]="{
                      'invalid-input':
                        isShow &&
                        updateCustomerForm.controls['nationalityId'].errors
                    }"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div style="width: 1125px" class="row p-0 pt-4">
              <div class="col-6 d-flex justify-content-lg-start">
                <button etiyaButton="clear" (click)="previousPage()">
                  CANCEL
                </button>
              </div>
              <div class="col-6 d-flex justify-content-lg-end">
                <button
                  etiyaButton="clear"
                  (click)="UpdateCustomer()"
                  [disabled]="
                    updateCustomerForm.value.firstName == customer.firstName &&
                    updateCustomerForm.value.lastName == customer.lastName &&
                    updateCustomerForm.value.middleName ==
                      customer.middleName &&
                    updateCustomerForm.value.birthDate == customer.birthDate &&
                    updateCustomerForm.value.gender == customer.gender &&
                    updateCustomerForm.value.fatherName ==
                      customer.fatherName &&
                    updateCustomerForm.value.motherName ==
                      customer.motherName &&
                    updateCustomerForm.value.nationalityId ==
                      customer.nationalityId
                  "
                >
                  SAVE
                </button>
              </div>
            </div>
          </div>
          <small
            *ngIf="
              isShow &&
              (updateCustomerForm.controls['firstName'].errors ||
                (isShow && updateCustomerForm.controls['lastName'].errors) ||
                (isShow && updateCustomerForm.controls['birthDate'].errors) ||
                (isShow && updateCustomerForm.controls['gender'].errors) ||
                (isShow && updateCustomerForm.controls['nationalityId'].errors))
            "
            id="lastName-help"
            class="p-error block ng-invalid ng-dirty"
            style="color: red; margin-left: 350px; margin-top: 5px"
          >
            Requirements field can not be left blank
          </small>
        </form>
      </div>
    </div>
  </app-main-layout>
</div>
