<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6"></div>
      <div class="col-12 col-lg-6 d-flex justify-content-end p-0">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'Create Customer'">
    <div class="e-customer-content mb-5">
      <div class="d-flex justify-content-center customer-title mb-5">
        <app-info-title [infoTitle]="'Demographic Info'"></app-info-title>
      </div>
      <div class="d-flex justify-content-center">
        <form *ngIf="profileForm" [formGroup]="profileForm" class="w-75">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="first-name">First Name* </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="firstName"
                    maxlength="100"
                    [ngClass]="{
                      'invalid-input':
                        isShow && profileForm.controls['firstName'].errors
                    }"
                  />
                </div>
                <small
                  *ngIf="isShow && profileForm.controls['firstName'].errors"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: -20px"
                >
                  This field cannot left blank!
                </small>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="middle-name">Middle Name </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="middleName"
                    maxlength="100"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="last-name">Last Name* </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="lastName"
                    maxlength="100"
                    [ngClass]="{
                      'invalid-input':
                        isShow && profileForm.controls['lastName'].errors
                    }"
                  />
                </div>
                <small
                  *ngIf="isShow && profileForm.controls['lastName'].errors"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: -20px"
                >
                  This field cannot left blank!
                </small>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="birth-date">Birth Date* </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="date"
                    etiyaInput="dark"
                    formControlName="birthDate"
                    [max]="today | date: 'yyyy-MM-dd'"
                    (blur)="onDateChange($event)"
                    [ngClass]="{
                      'invalid-input':
                        isShow && profileForm.controls['birthDate'].errors
                    }"
                  />
                </div>
                <small
                  *ngIf="futureDate"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: -20px"
                >
                  Please enter a valid date of birth
                </small>
                <small
                  *ngIf="under18"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: -20px"
                >
                  The customer cannot be under the age of 18.
                </small>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="gender">Gender*</label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <div class="e-dropdown">
                    <select
                      name="gender"
                      id="gender"
                      formControlName="gender"
                      [ngClass]="{
                        'invalid-input':
                          isShow && profileForm.controls['gender'].errors
                      }"
                    >
                      <option selected disabled value="">Select</option>
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
                <small
                  *ngIf="isShow && profileForm.controls['gender'].errors"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: 11px"
                >
                  This field cannot left blank!
                </small>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="father-name">Father Name </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="fatherName"
                    maxlength="100"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="mother-name">Mother Name </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="motherName"
                    maxlength="100"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
              <div class="row e-customer-input">
                <div
                  class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
                >
                  <label for="national-id">Nationality ID* </label>
                </div>
                <div
                  class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
                >
                  <input
                    type="text"
                    min="10000000000"
                    max="99999999999"
                    etiyaInput="dark"
                    formControlName="nationalityId"
                    (keypress)="isValid($event)"
                    onkeydown="return event.keyCode !== 17 &&  event.keyCode !== 86 "
                    onKeyPress="if(this.value.length==11) return false;"
                    [ngClass]="{
                      'invalid-input':
                        isShow && profileForm.controls['nationalityId'].errors
                    }"
                  />
                </div>
                <small
                  *ngIf="isShow && profileForm.controls['nationalityId'].errors"
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: -20px"
                >
                  Please enter the information in accordance with the format!
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-3 w-75">
          <div class="col-12 col-lg-6 d-flex justify-content-lg-start">
            <button
              etiyaButton="clear"
              routerLink="/dashboard/customers/customer-dashboard"
            >
              CANCEL
            </button>
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-lg-end">
            <button etiyaButton="clear" (click)="goNextPage()">NEXT</button>
          </div>
        </div>
      </div>
    </div>
  </app-main-layout>
</div>
