<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9 d-flex justify-content-around p-0 align-items-lg-end">
        <app-bar-menu></app-bar-menu>
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'Create Customer'">
    <div class="e-customer-content mb-5 container-fluid">
      <form *ngIf="accountForm" [formGroup]="accountForm">
        <div class="row">
          <h5 class="mt-3">Create Billing Account</h5>
          <div class="col-12">
            <div class="row e-customer-input">
              <div
                class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center"
              >
                <label for="account-name">Account Name* </label>
              </div>
              <div
                class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center"
              >
                <input
                  type="text-area"
                  etiyaInput="dark"
                  formControlName="accountName"
                  maxlength="100"
                  [ngClass]="{
                    'invalid-input':
                      isValid && accountForm.controls['accountName'].errors
                  }"
                />
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="row e-customer-input">
              <div
                class="col-12 d-flex justify-content-lg-start align-items-center"
              >
                <label for="account-description">Account Description * </label>
              </div>
              <div
                class="col-12 d-flex justify-content-lg-start align-items-center"
              >
                <textarea
                  class="e-address-desc"
                  placeholder=""
                  formControlName="description"
                  maxlength="100"
                  [ngClass]="{
                    'invalid-input':
                      isValid && accountForm.controls['description'].errors
                  }"
                ></textarea>
              </div>
              <small
                *ngIf="isValid && accountForm.controls['description'].errors"
                class="p-error block ng-invalid ng-dirty"
                style="margin-left: 500px; margin-top: -5px"
              >
                Required fields can not be left blank
              </small>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="isShown == false">
        <div class="d-flex justify-content-center customer-title mb-5">
          <app-info-title [infoTitle]="'Address Info'"></app-info-title>
        </div>
        <div class="e-customer-content1">
          <div>
            <div class="row w-100">
              <table
                class="e-table table table-bordered table-hidden"
                [ngClass]="{
                  'invalid-input': billingAdress.length == 0 && isValid
                }"
              >
                <thead>
                  <tr class="table-title">
                    <th>City</th>
                    <th>Street Name</th>
                    <th>House/Flat Number</th>
                    <th>Address Description</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr
                    *ngIf="
                      !billingAdress || billingAdress.length == 0;
                      else customerAddressList
                    "
                  >
                    <th>Null</th>
                    <td>Null</td>
                    <td>Null</td>
                    <td>Null</td>
                  </tr>
                  <ng-template #customerAddressList>
                    <tr *ngFor="let billingadr of billingAdress">
                      <th style="display: flex">
                        <!-- <div>
                          <button etiyaButton="edit"></button>
                        </div> -->
                        <div style="margin-left: 65px">
                          {{ billingadr.city.name }}
                        </div>
                      </th>
                      <td>{{ billingadr.street }}</td>
                      <td>{{ billingadr.flatNumber }}</td>
                      <td>{{ billingadr.description }}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
            <button etiyaButton="new-address" (click)="addNewAddressBtn()">
              <img src="../../../../assets/img/add_new.png" alt="" />Add New
              Address
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="row mt-5 w-75">
            <div class="col-12 col-lg-6 d-flex justify-content-lg-start">
              <button etiyaButton="clear" (click)="goToPreviousPage()">
                CANCEL
              </button>
            </div>
            <div class="col-12 col-lg-5 d-flex justify-content-lg-end">
              <button etiyaButton="clear" (click)="add()">Create</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isShown == true">
        <form *ngIf="addressForm" [formGroup]="addressForm">
          <div class="row">
            <div class="col-12 col-xl-5">
              <div class="row e-address-input">
                <div class="col-12 col-lg-4 e-address-col-center">
                  <label for="city">City<span class="e-star">*</span> </label>
                </div>
                <div class="col-12 col-lg-8 e-address-col-center">
                  <div class="e-dropdown">
                    <select
                      etiyaInput="dark"
                      name="gender"
                      id="gender"
                      formControlName="city"
                      [ngClass]="{
                        'invalid-input':
                          isShownError && addressForm.controls['city'].errors
                      }"
                    >
                      <option selected disabled hidden [value]="0">
                        Choose a city
                      </option>
                      <option *ngFor="let city of cityList" [value]="city.id">
                        {{ city.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-7">
              <div class="row e-address-input">
                <div class="col-12 col-lg-4 e-address-col-center">
                  <label for="flatNumber"
                    >House/Flat Number<span class="e-star">*</span>
                  </label>
                </div>
                <div class="col-12 col-lg-8 e-address-col-center">
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="flatNumber"
                    [ngClass]="{
                      'invalid-input':
                        isShownError &&
                        addressForm.controls['flatNumber'].errors
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-5">
              <div class="row e-address-input">
                <div class="col-12 col-lg-4 e-address-col-center">
                  <label for="street"
                    >Street<span class="e-star">*</span>
                  </label>
                </div>
                <div class="col-12 col-lg-8 e-address-col-center">
                  <input
                    type="text"
                    etiyaInput="dark"
                    formControlName="street"
                    [ngClass]="{
                      'invalid-input':
                        isShownError && addressForm.controls['street'].errors
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mb-1">
                <div class="col-12 e-address-col-center">
                  <label for="address-description"
                    >Address Description<span class="e-star">*</span>
                  </label>
                </div>
                <div class="col-12 e-address-col-center">
                  <textarea
                    class="e-address-desc"
                    placeholder=""
                    formControlName="description"
                    maxlength="250"
                    [ngClass]="{
                      'invalid-input':
                        isShownError &&
                        addressForm.controls['description'].errors
                    }"
                  ></textarea>
                </div>
                <small
                  *ngIf="
                    isShownError &&
                    (addressForm.controls['description'].errors ||
                      (isShownError && addressForm.controls['street'].errors) ||
                      (isShownError &&
                        addressForm.controls['flatNumber'].errors) ||
                      (isShownError && addressForm.controls['city'].errors))
                  "
                  id="lastName-help"
                  class="p-error block ng-invalid ng-dirty"
                  style="color: red; margin-left: 400px; margin-top: 5px"
                >
                  Requirements field can not be left blank
                </small>
              </div>
            </div>
          </div>
          <div class="row mt-2 d-flex justify-content-center">
            <div class="col-2">
              <button etiyaButton="clear" (click)="addAddress()">SAVE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </app-main-layout>
</div>
